@import url(./normalize.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 1440px;
}

.main {
    text-align: center;
}

.main__score {
    margin-bottom: 20px;
}

.main__score_new,
.main__score_best {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main__field {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
}


.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #313131;
    background-color: #fff;
}

.main__start_window {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
    opacity: 0.7;
}

.start_btn {
    width: 20vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(112, 0, 0);
    color: rgb(2, 255, 2);
    font-size: 40px;
    cursor: pointer;
}

.lost {
    height: 10vw;
    width: 32vw;
    font-size: 100px;
    text-align: center;
    color: red;
}